@charset "utf-8";

html{
 background-color: #f9f9f9;
}

.six.columns.logo{
    text-align: left;
}

.logo1{
 display:flex;
 justify-content: space-between;
}

 .six.columns.link{
    text-align: right;
    margin-top: 30px;
    margin-right: 0px;
}

.guides{
 float: left;
}

.sns{
 float: left;
 display:block;
 margin-left: 10px;
}

.homeimage{
 width:20px;
 height:20px;
 margin-left:5px;
 float:left;
}

.nine.columns.home{
 margin-bottom: 5%;
}

.sp_navi{
   background-color: #e8e4da;
   width: 700px;
   height: 34px;
   list-style: none;
}

.owl-theme .owl-dots {
 text-align: left;
}

.owl-dots{
text-align: left;
margin-top:2px;
margin-right:10px;
}

.owl-theme .owl-dots .owl-dot span {
   width:25px;
   height:2px;
   border-radius: 0px; 
   text-align: left;
}

.owl-dots .active span{
 background-color: #9d1a2d !important; 
}

.sp_navi li{
display:inline-block;
color:#524c3e;
list-style: none;
}

.newitems.box{
    float: left;
    width: 30%;
    height: 100%;
    padding: 1% ;
    background-color: #ffffff;
    border: 0.5px solid #f9f9f9;
}

.searching{
 background-color: #ffffff;
 width:100%;
 height: 92px;
 margin-bottom: 10%;
}

.searchimage{
margin: 0px 10px 10px 21px;
}

#searchimage{
margin: 20px 110px 10px 21px;
}

.searchbox{
 margin: 0px 20px;
}

.textBox {
 float:left;
 width:80%;
 height: 20%;
}

.submit{
 float:left;
 width: 20%;
 height: 20%;
}

.searchbox{
background-color: #ffffff;
}

.submitbotton{
 width:20%;
 height:20%;
 padding: 50px 0px;
 background-image:url("../owlcarousel/top/search_icon.png");
 text-align: center;
 background-repeat: no-repeat;
 background-position:center center;
}

.nextpage{
 background-color: #887f69;
 list-style: none;
 width:100%;
 height:45px;

}

.undernextpage{
 color:#ffffff;
 width:191.55px;
 height:13.76px;
 margin: 0 auto;
 padding: 15px 12px 13px 15px;
 display: flex;
 justify-content: space-between;
}

.categories1{
  background-color: #887f69;
  height : 45px;
}

.undercategories1{
 color:#ffffff;
 width:191.55px;
 height:13.76px;
 margin: 1%;
 padding: 15px 12px 13px 15px;
 display: flex;
 justify-content: space-between;
 text-transform: uppercase;
}

.categories2{
  background-color: #ffffff;
  height : 45px;
  border: 0.5px solid #f9f9f9;
  text-align: center;
}

.undercategories2{
 width:191.55px;
 height:13.76px;
 margin:19px 12px 13px 15px;
 display: flex;
 justify-content: space-between;
}

.categories ul li{
 list-style: none;
 width:219px;
 height:40px;
}

.categories ul li h4{
 background-color: #887f69;
 text-align: left;
 list-style: none;
}

.categories ul li p{
border: 1px solid #000000; /* ボーダー */
}

.u-max-full-width3{
 width:100%;
 height:100%;
 margin-top:3%;
 margin-bottom:3%;
 text-align: center;
}

.three.columns.menu{
background-color: #f9f9f9;
}

.deliverly{
 color: #887f69;
 background-color: #ffffff;
 float:left;
 margin: 1.0%;
 padding: 5.0%;
 width: 37.0%;
 height: 264px;
}

.deliverly ul {
 text-align: left;
 list-style: none;
}

.deliverlyin{
 color: #000000;
}
.privacy {
 text-align: center;
 list-style: none;
 border: 0.5px solid #f9f9f9;
}

.about{
 margin-top: 5%;
 padding: 19px 12px 13px 15px;
 background-color: #887f69;
}

.below{
 background-color: #ffffff;
 height: 265px;
 text-align: center;
 padding: 4px 4px 10px 4px;
}

.below ul li{
list-style: none;
}

.below ul li{
text-align: left;
}

.shop{
 margin-top:5%;
 padding: 19px 12px 13px 15px;
 background-color: #887f69;
}

.info{
 background-color: #ffffff;
 height:265px;
 text-align: center;
 padding: 4px 4px 10px 4px;
}

.info ul li{
list-style: none;
}

.info ul li {
text-align: left;
}

.more{
 margin: 20px 57px 21px 60px;
}

.pagetop{
 position: absolute;
 bottom: 0px;
 right: 0px;
 text-align: right;
}

@media (min-width: 650px){
 .homeimage{
  display: none;
 }
}

@media (max-width: 650px){
 
 .six.columns.logo{
 text-align: center;
 }
 
 .six.columns.link{
 text-align: center;
 }
 
 .guides{
  display: none;
 }
 
 .sns{
  margin-left:38%;
  margin-bottom: 10px;
 }
 
 .homeimage{
  margin-right:38%;
  margin-bottom: 10px;
 }
 
 .newitems.box{
  width: 45%;
 }

.searching{
 height:144px;
 background-color: #ffffff;
 padding: 30px 10px 0px 10px;
}

 .searchimage{
  display: none;
 }
 
 .searchbox{
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
 }
 
 .three.columns.menu{
  flex-direction: column;
 }
 
 #searchimage{
 display:none;
}
 
 .about{
  flex-direction: column;
 }
 
 .below{
  flex-direction: column;
  height:200px;
  padding-right: 20px;
 }
 
 .shop{
  flex-direction: column;
 }
 
 .info{
  margin-bottom:47px;
  flex-direction: column;
  height:200px;
  padding-right: 20px;
 }
 
 .explanation{
 float: right;
 width: 45%;
 flex-direction: column;
 }
 
.more{
 float: left;
 margin-left: 9%;
 }
 
.picture{
 float: left;
 width: 45%;
}

.pagetop{
 bottom: 10px;
 right:43%;
}
}

footer {
 border-top: 0.5px solid #887f69;
 margin: 0px 16%;
}
